<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Messanger</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="content">
        <div class="dialogs">
            <div class="dialog">
                <div class="avatar"></div>
                <div class="info">
                    <p class="name">Forder</p>
                    <p class="last-message">Ha-ha, so cute!</p>
                </div>
                <div class="checked">3</div>
            </div>
            <div class="dialog">
                   <div class="avatar"></div>
                   <div class="info">
                       <p class="name">Forder</p>
                       <p class="last-message">Ha-ha, so cute!</p>
                   </div>
                   <div class="checked">3</div>
               </div>
            <div class="dialog">
                   <div class="avatar"></div>
                   <div class="info">
                       <p class="name">Forder</p>
                       <p class="last-message">Ha-ha, so cute!</p>
                   </div>
                   <div class="checked">3</div>
               </div>
            <div class="dialog">
                   <div class="avatar"></div>
                   <div class="info">
                       <p class="name">Forder</p>
                       <p class="last-message">Ha-ha, so cute!</p>
                   </div>
                   <div class="checked">3</div>
               </div>
            <div class="dialog">
                   <div class="avatar"></div>
                   <div class="info">
                       <p class="name">Forder</p>
                       <p class="last-message">Ha-ha, so cute!</p>
                   </div>
                   <div class="checked">3</div>
             </div>
        </div>
        <div class="current-dialog">
          <div class="dialog-head">
            <div class="avatar"></div>
            <p class="name">Forder</p>
          </div>
          <div class="dialog-messages">
            <div class="message">
              <div class="avatar"></div>
              <div class="content">Hello!</div>
            </div>
            <div class="message me">
              <div class="avatar"></div>
              <div class="content">Hello!</div>
            </div>
            <div class="message">
              <div class="avatar"></div>
              <div class="content">Hello!</div>
            </div>
            <div class="message me">
              <div class="avatar"></div>
              <div class="content">Hello!</div>
            </div>
            <div class="message">
              <div class="avatar"></div>
              <div class="content">Hello!</div>
            </div>
            <div class="message me">
              <div class="avatar"></div>
              <div class="content">asd!</div>
            </div>
          </div>
          <div class="input-holder">
            <form action="#">
              <input name="message" type="text" placeholder="Your text" autocomplete="off">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-send" viewBox="0 0 16 16"><path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/></svg>
              </button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>